article {
    margin: 1em;
    width: 35em;
}

header {
    font-weight: bold;
    padding-top: .5em;
    text-align: center;
}
.taskDescription,.solution {
    padding: .5em;
    border-radius: 5px;
    border: 1px solid brown;
}

.dataTableTable {
    width: 35em;
    max-height: 16em;
    overflow: auto;
    overflow-x: hidden;
    position: relative;
}

table {
    margin-bottom: .5em;
}


table tbody tr {
    text-align: center;
}

table thead, table tbody {
    border: 1px solid saddlebrown;
    /*margin-bottom: 1em;*/
}

table > thead > tr > th {
    border-bottom: none;
}

#regenerateData {


}

.solution {
    position: absolute;
    left: 37em;
    top: 0em;
    margin: 1em;
    max-width: 35em;
}

summary {
    max-width: 35em;
}

summary li {
    list-style-type: none;
}

.visHidden {
    display: none;
}