body{
    background: cornsilk;
    font-family: 'Butterfly Kids', cursive;
    font-size: 38px;
}
#gameHeader {
    margin: 0 auto;
    width: 400px;
    height: 50px;
    background: yellowgreen;
    margin-bottom: 10px;
}
#curEvent {
    float: right;
    padding-right: 5px;
}

#matrix
{
    width: 400px;
    height: 400px;
    border-top: 1px solid #999;
    border-left: 1px solid #999;
    margin: 0 auto;
}

#matrix .cell
{
    float: left;
    width: 19px;
    height: 19px;
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
}

footer {
    margin: 10px auto;
    background: olivedrab;
    width: 400px;
    height: 50px;

}

#ver {
    float: right;
    margin-right: 5px;
}
#dev {
    float: left;
    margin-left: 5px;
    font-size: 24px;
}

#dev a {
    color: darkred;
}