html {
    -webkit-text-size-adjust: 100%;
    filter: (), blur(20%));
}


::first-letter {
    font-size: larger;
}


article, footer {
    height: 3.2em;
}

article {
    width: 80%;
    margin-left: 2em;
    min-height: 3em;
    height: auto;
    max-height: 80%;
    border-left: 1px solid rgba(20,20,20,.1);
    float: right;
}

header, footer {
    width: 100%;
}

header {
    border-bottom: 1px solid rgba(20,20,20,.1);
    width: 100%;
    clear: both;
}

aside {
    width: 20%;
    border-right: 1px solid rgba(20,20,20,.1);
    min-width: 3em;
}


footer {
    border-top: 1px solid rgba(20,20,20,.1);
    float: right;
}

header, aside {
    float: left;
}

span {
    float: left;
    margin: .5em;
    padding: .5em;
    clear: none;
    border: 1px solid darkorchid;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
}

span:hover {
    border-color: darkslateblue;
    background: cornsilk;
}

span:active {
    text-decoration: underline;
}


