html {
    -webkit-text-size-adjust: 100%;
    filter: (), blur(20%));
}

body {
    background: url('../imgs/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 90%;
}


body #content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "aside article article article article";
}

::first-letter {
    font-size: larger;
}


footer {
    height: 3.2em;
}

h1 {
    margin: 0 auto 1.5rem;
    max-width: 14em;
    font-size: 2em;
}
h1, h2 {
    text-align: center;
}


article {
    grid-area: article;
    margin-left: 2em;
    opacity: .7;
    min-height: 70%;
}

article p, article ul li{
    font-stretch: expanded;
}

header, footer {
    width: 100%;
}

header {
    border-bottom: 1px solid rgba(20,20,20,.1);
    width: 100%;
    clear: both;
    display: grid;
    grid-template-columns: repeat(1fr,9);
    grid-template-areas: "Retail Edu Feedback Gap Gap Gap Gap Logo SignIn";
    grid-column-gap: 1px;
}

aside {
    grid-area: aside;
    border-right: 1px solid rgba(20,20,20,.1);
    min-width: 3em;
}


footer {
    border-top: 1px solid rgba(20,20,20,.1);
    display: block;
}

span {
    float: left;
    margin: .5em;
    padding: .5em;
    clear: none;
    color: white;
    background-color: rgba(150,170,200,.3);
    border: 1px solid #0074D4;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
    opacity: 0.8;
}

span span{
    padding-top: 1em;
    padding-left: 1em;
    color: black;
    opacity: 1;
    width: 90%;
}

span em {
    color: black;
}

span div {
    padding-top: 1em;width: 90%;

}

span#retail {
    grid-area: Retail;
}
span#edu {
    grid-area: Edu;
}

span#feedback {
    grid-area: Feedback;
    padding-left: 1em;
}

span.logo {
    grid-area: Logo;
    border: none;
    float: right;
}
 .enjoy-css {
     -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
     box-sizing: content-box;
     border: none;
     font: normal 16px/1 "Times New Roman", Times, serif;
     color: rgba(255,255,255,1);
     text-align: center;
     -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
     background: -webkit-linear-gradient(-45deg, rgba(186,126,126,1) 0, rgba(0,150,255,1) 100%);
     background: -moz-linear-gradient(135deg, rgba(186,126,126,1) 0, rgba(0,150,255,1) 100%);
     background: linear-gradient(135deg, rgba(186,126,126,1) 0, rgba(0,150,255,1) 100%);
     background-position: 50% 50%;
     -webkit-background-origin: padding-box;
     background-origin: padding-box;
     -webkit-background-clip: border-box;
     background-clip: border-box;
     -webkit-background-size: auto auto;
     background-size: auto auto;
     -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
     -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
     -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
     transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
     -webkit-transform: rotateX(-40.10704565915762deg) rotateY(-26.92901637114869deg)   ;
     transform: rotateX(-40.10704565915762deg) rotateY(-26.92901637114869deg)   ;
 }
/*.enjoy-css {*/
    /*-webkit-box-sizing: content-box;*/
    /*-moz-box-sizing: content-box;*/
    /*box-sizing: content-box;*/
    /*width: 160px;*/
    /*padding: 20px;*/
    /*overflow: hidden;*/
    /*border: none;*/
    /*font: normal 16px/1 "Times New Roman", Times, serif;*/
    /*color: rgba(255,255,255,1);*/
    /*text-align: center;*/
    /*-o-text-overflow: ellipsis;*/
    /*text-overflow: ellipsis;*/
    /*background: #329ec9;*/
    /*-webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;*/
    /*box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;*/
    /*text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;*/
    /*-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;*/
    /*-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;*/
    /*-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;*/
    /*transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;*/
    /*-webkit-transform: rotateZ(6.875493541569878deg)   ;*/
    /*transform: rotateZ(6.875493541569878deg)   ;*/
/*}*/

span#signIn {
    grid-area: SignIn;
    background: #0074D4;
    float: right;
    color: white;
}

span#signIn:hover {
    background: #0074D4;
    color: cornsilk;
}

span:hover {
    border-color: darkslateblue;
    background: cornsilk;
    color: black;
}

span:active {
    text-decoration: underline;
}

#mainText {
    background-color: rgba(255,255,255,0.9);
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #0074D4;
    color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #0074D4;
    color: white;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

input {
    border-color: #717274;
    outline-offset: 0;
    outline: 0;
    box-shadow: none;
    font-size: 1.25rem;
    line-height: normal;
    padding: .75rem;
    border: 1px solid #919193;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    color: #2c2d30;
    width: 90%;
    max-width: 100%;
    margin: 0 0 .5rem;
    font-variant-ligatures: none;
}

input[name='confirmPassword'] {
    float: right;
    margin-right: 7%;
}

.srButtons {
    background: #008952;
    opacity: 1;
    width: 94%;
    color: white;
    padding: 14px 32px 16px;
    font-size: 1.25rem;
    line-height: 1.2rem;
    font-weight: 700;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    cursor: pointer;
    text-shadow: none;
    border: none;
    border-radius: .25rem;
    box-shadow: none;
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
    white-space: nowrap;
    margin: 0;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.divInForm {
    text-decoration: none;
    text-align: left!important;
    font-variant-ligatures: common-ligatures;
    -webkit-font-smoothing: antialiased;
    color: #2c2d30;
    line-height: 1.5rem;
    margin-top: .5rem!important;
    /*float: left;*/
}
.divInForm a:nth-child(3){
    display: block;
}

#createBtn {
    display: none;
}

/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #0074D4;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #0074D4;
    color: white;
}

.form-group textarea.form-control {
    width: 100%;
    height: 200px;
    min-height: 200px;
    padding: 6px 8px;
    font-size: 16px;
    line-height: 20px;
    color: #24292e;

}

.form-group .form-control {
    width: 90%;
    max-width: 90%;
    margin-right: 5px;
    background-color: #fafbfc;
}
.contact-github textarea {
    height: 100px;
    resize: vertical;
}

textarea {
    overflow: auto;
    flex-direction: column;
    cursor: text;
    white-space: pre-wrap;
    word-wrap: break-word;
}


hr {
    width: 40px;
    height: 4px;
    background: #30393f;
    border: none;
    display: block;
}

.ourTeam {
    display: grid;
    grid-gap: 2em 1.5em;
    /*grid-template-columns: 30% min-content 1fr max-content;*/
    grid-template-areas:
            'teamHeader teamHeader teamHeader';
    align-content: space-around;
}

.teamHeader {
    grid-area: teamHeader;
}

.ourTeam > .person {
    width: 17em;
    height: 22em;
    /*grid-column: span 3;*/
}

.position {
    opacity: .75;
    font-size: .9em;
    text-align: center;
    color: white;
    grid-area: position;
}

.name {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    background-clip: text;
    color: white;
    grid-area: name;
}

.personDescription {
    display: none;
    font-size: 1.1em;
    text-align: center;
    color: white;
    grid-area: personDesc;
}

.person {
    display: grid;
    grid-template-areas:
            '.'
            'position'
            'name'
            'person_hr'
            'personDesc';
    grid-template-rows: 84% 8% 8% 0% 0%;
    background-image: linear-gradient(-180deg,rgba(0,0,0,.28) 0%,rgba(0,0,0,.24) 56%,rgba(0,0,0,.76) 99%);
    transition: .8s;
}

.person:hover  {
    display: grid;
    grid-template-areas:
            '.'
            'position'
            'name'
            'person_hr'
            'personDesc';
    grid-template-rows: minmax(0%, 68%) 8% 8% 8% minmax(max-content, 8%);
    transform: perspective(1000px) rotateY(15deg);
    /*transform: skewY(5deg);*/
    transition: .8s;
    padding: 0 1em;
}

.person:hover .person_hr, .person:hover .personDescription {
    display: block;
}

.person_hr {
    display: none;
    grid-area: person_hr;
    background: rgba(255, 165, 56, 1);
}

#YT, #AM, #DN, #AS, #YV, #MR, #SE, #TS {
    background-size: cover;
    background-repeat: no-repeat;
}

#YT {
    background-image: url('../imgs/YT.jpg');
}

#AM {
    background-image: url('../imgs/AM.jpg');
}

#DN {
    background-image: url('../imgs/DN.jpg');
}

#AS {
    background-image: url('../imgs/AS.jpg');
}

#YV {
    background-image: url('../imgs/YV.jpg');
}

#MR {
    background-image: url('../imgs/MR.jpg');
}

#SE {
    background-image: url('../imgs/SE.jpg');
}

#TS {
    background-image: url('../imgs/TS.jpg');
}

